[submodule "FixrGraphExtractor"]
	path = FixrGraphExtractor
	url = https://github.com/cuplv/FixrGraphExtractor
	branch = master
[submodule "FixrGraphIso"]
	path = FixrGraphIso
	url = https://github.com/cuplv/FixrGraphIso
	branch = master
[submodule "FixrGraphPatternSearch"]
	path = FixrGraphPatternSearch
	url = https://github.com/cuplv/FixrGraphPatternSearch.git
	branch = master
[submodule "FixrService-Backend"]
	path = FixrService-Backend
	url = git@github.com:cuplv/FixrService-Backend.git
	branch = imp-proto-dev
